body {
  font-family: 'Cairo', 'Amiri', 'Tajawal', Arial, sans-serif !important;
  background-color: #fff8ef;
  color: #222;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.5px;
}
a, .navbar a {
  color: #218838 !important;
}
a:hover, .navbar a:hover {
  color: #b22222 !important;
}
.navbar, .footer {
  background: #00796b !important;
}
.footer {
  color: #fff !important;
}

.pagination {
  justify-content: flex-end;
}
